{% load static tailwind_tags %}
{% load static %}

<style>
    html {
        scroll-behavior: smooth;
      }
</style>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content=
        "width=device-width, initial-scale=1.0">
    <title>Rizky Sulaeman</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/Logo.png' %}">
    {% tailwind_css %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
    

     <script src="https://unpkg.com/@tailwindcss/browser@4"></script> 
    <script>document.documentElement.classList.add('js')</script>



    
</head>
 
<body class="bg-white border-gray-200 dark:bg-gray-900  font-serif">

    <div >
        {% block content %}

        {% endblock content %}
    </div>
    <script src="https://unpkg.com/taos@1.0.5/dist/taos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tailwind-scrollbar-hide@2.0.0/dist/index.min.js"></script>

</body>
 
