{% load static %}



<nav class="bg-gradient-to-br from-gray-50 dark:from-gray-800 to-blue-100 dark:to-gray-900  ">
  <div class=" flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="{% static 'images/logo.png' %}" class=" md:h-1/6 md:w-1/6 h-12 w-12 rounded-full ring-2 ring-sky-950 shadow-lg shadow-blue-950 " alt="Flowbite Logo" />
        {% comment %} <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Rizky Sulaeman</span> {% endcomment %}
    </a>
    <button id="hamburger-button" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 md:flex-row md:space-x-6 rtl:space-x-reverse md:mt-0 text-center ">
        <li>
          <a href="#" class="block py-2 px-3 bg-blue-700 text-white rounded-lg md:p-2 text-center md:text-2xl shadow-lg shadow-blue-500/50"  aria-current="page"> Home </a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-white md:p-2 md:text-2xl text-center shadow-lg shadow-blue-500/50">Education</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-white md:p-2 md:text-2xl text-center shadow-lg shadow-blue-500/50">Experience</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-white md:p-2 md:text-2xl text-center shadow-lg shadow-blue-500/50">Stack Technology</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-white md:p-2 md:text-2xl text-center shadow-lg shadow-blue-500/50">Project</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-white md:p-2 md:text-2xl text-center shadow-lg shadow-blue-500/50">Certification</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $("#hamburger-button").click(function() {
        $("#navbar-default").toggleClass("hidden");
    });
    
    $("#navbar-default li a").click(function(e) {
        e.preventDefault();
        // Remove active styling from all nav links:
        $("#navbar-default li a")
            .removeClass("bg-blue-700 text-white rounded-lg ")
            .addClass("text-white");
            
        // Apply active styling to the clicked link:
        $(this)
            .removeClass("text-white")
            .addClass("bg-blue-700 text-white rounded-lg ");
    });
});
</script>
